# compiled output for auth service
/auth/dist
/auth/node_modules

# compiled output for product service
/product/dist
/product/node_modules

# Local environment variables
/auth/.env
/product/.env

# Logs
/auth/logs
/auth/*.log
/auth/npm-debug.log*
/auth/pnpm-debug.log*
/auth/yarn-debug.log*
/auth/yarn-error.log*
/auth/lerna-debug.log*

/product/logs
/product/*.log
/product/npm-debug.log*
/product/pnpm-debug.log*
/product/yarn-debug.log*
/product/yarn-error.log*
/product/lerna-debug.log*

# OS
.DS_Store

# Tests
/auth/coverage
/auth/.nyc_output

/product/coverage
/product/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json